.ev-icons {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  width: 100%;

  .ev-icons-element {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    align-items: center;
    width: 10rem;
  }
}
