@import "@assets/styles/app.scss";

.ev-switch {
  border-radius: 1.438rem;
  background: var(--backColor);
  transition: 0.2s ease-out;
  cursor: pointer;
  display: flex;
  align-items: center;

  &:hover {
    background: var(--backColorHover);

    .ev-switch-radio {
      background: var(--radioColorHover);
    }
  }

  &:active {
    background: var(--backColorActive);

    .ev-switch-radio {
      background: var(--radioColorActive);
      margin-left: 50% !important;
    }
  }

  &-radio {
    border-radius: 100%;
    background: var(--radioColor);
    transition: 0.2s ease-out;
  }

  &[data-toggle="true"] {
    background: var(--backColorActive);

    .ev-switch-radio {
      background: var(--radioColorActive);
      margin-left: auto !important;
    }
  }

  &[data-disabled="true"] {
    background: var(--backColorDisabled);
    outline: 1px solid $ev--b-300;
    cursor: not-allowed;

    .ev-switch-radio {
      background: var(--radioColorDisabled);
      margin-left: 0;
    }
  }

  @extend %size;
}

%size {
  &[data-size='sm'] {
    width: 2.3125rem;
    height: 1.25rem;

    .ev-switch-radio {
      width: 1rem;
      height: 1rem;
      margin: 0 0.125rem;
    }
  }

  &[data-size='md'] {
    width: 3rem;
    height: 1.5rem;

    .ev-switch-radio {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}
